.edit-btn {
    background-color: white;
    /* Green */
    border: 2px solid red;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
    cursor: pointer;
}

.the__gif {
    /* animation properties */
    -moz-transform: translateX(550%);
    -webkit-transform: translateX(550%);
    transform: translateX(550%);
    -moz-animation: my-animation 9s linear infinite;
    -webkit-animation: my-animation 9s linear infinite;
    animation: my-animation 9s linear infinite;
    animation-iteration-count: infinite;

    border: none;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: none;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(550%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(550%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -moz-transform: translateX(550%);
        -webkit-transform: translateX(550%);
        transform: translateX(550%);
    }
}


.the__page {
    padding: 0;
    margin: 0;
    background-color: rgb(223, 221, 211);
}

.top__container {
    display: flex;
    flex-direction: row;
}

.edit-btn:hover {
    background-color: red;
    color: white;
}

.delete-btn {
    background-color: white;
    /* Green */
    border: 2px solid red;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}

.details__container {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.van-title {
    margin-top: 8.5%;
    color: #FF5A5F;
    font-size: 32pt;
}

.hosted-by {
    font-size: 14pt;
    margin-bottom: 2%;
}

.van__image {
    border-radius: 30px;
    height: 600px;
    width: 1000px;
}

.location__tag {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 2%;
}

.van-description {
    width: 28%;
    font-size: 14pt;
    /* margin-bottom: 2%; */
    margin-right: 5%;
    min-width: 550px;
}

.mid__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5%;
}

.buttons__container {
    display: inline;
    justify-content: flex-end;
    align-items: flex-end;
}

.amenities__list {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14pt;
    /* padding: 15px; */
    /* border: #FF5A5F solid 2px; */
}

li {
    padding-bottom: 10px;
}

.description-label {
    text-decoration: underline #FF5A5F;
    text-align: left;
}

.lowermost__container {
    /* border: 2px solid black; */
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 5%; */
}

.reviews__container {
    min-width: 550px;
    /* display: flex; */
    /* justify-content: center; */
    width: 50%;
    /* border: 2px solid blue; */
}

.booking__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 550px;
    /* border: 2px solid green; */
}

.calender__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 550px;
    /* border: 2px red solid; */
}

.the__calendar {
    min-width: 250px;
}

.the__form1 {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* border: 2px solid purple; */
}

.calendar__header {
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.reviews__header {
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.the__reviews {
    border: 1px solid black;
    height: 85%;
}
