.search__bar input[type=text] {
    padding-top: 6%;
    padding-left: 5%;
    padding-bottom: 6%;
    padding-right: 60%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: 5%;
    font-size: 11pt;
}

.search__bar input[type="text"], textarea {
    background-color : #d1d1d142;
    color: black;
}

.search__bar input[type="text"] {
    border: 1.5px solid grey;
}

.search_container {
    display: flex;
    margin-bottom: 0.3%;
    margin-right: -8%;
}


#search_results {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    list-style: none;
    background-color: gray;
    width: 14.5%;
    position: absolute;
    margin-top: 2%;
}


.test {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-align: left;
}

#search_results > a {
    font-size: 13pt;
}

.test:hover {
    background-color: rgb(172, 172, 172);
}
