.splash-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
    height: 90%;
}

.the-image {
    margin-top: 3.5%;
    border-radius: 30px;
}

.banner__info {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner, .build__container {
    margin-bottom: 4%;
}

.VanLife__container {
    margin-bottom: 3%;
}

.build-title {
    font-size: 30pt;
    margin-bottom: 3%;
}

.fa-share {
    transform: rotate(60deg);
    margin-left: 20px;
}

.site-name {
    text-shadow: black 1px 1px 1px;
    color: #ff444a;
    font-family: cursive;
    font-size: 42pt;
    font-weight: bolder;
    position: absolute;
    bottom: 175px;
    right: 21.9%;
}

.VanLife__container:hover .explore-handler {
    height: 100%;
}

.VanLife__container {
    margin-left: 7%;
    justify-content: center;
    position: relative;
    width: 50%;
}

.VanLife__image {
    border-radius: 30px;
}

.build__video {
    border-radius: 30px;
}

.fa-share {
    color: #ff444a;
}

.explore-handler {
    position: absolute;
    border-radius: 30px;
    bottom: 0;
    background-color: #ff444a;
    overflow: hidden;
    width: 87%;
    height: 0;
    transition: .5s ease;
}

.explore-btn {
    background: none;
    border: none;
    color: rgba(245, 245, 245, 0.671);
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.explore-btn:hover {
    cursor: pointer;
    color: white;
}

.image-msg {
    color: #ff444a;
    margin-left: 30%;
}
