.splash-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
    height: 90%;
}

.the-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1%;
    margin-top: 3.5%;
    border-radius: 30px;
}

.banner__info {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    position: absolute;
    min-width: 1500px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner, .build__container {
    margin-bottom: 4%;
}

.VanLife__container {
    margin-bottom: 3%;
}

.build-title {
    font-size: 30pt;
    margin-bottom: 3%;
}

.fa-share {
    transform: rotate(60deg);
    margin-left: 20px;
}

.site-name {
    text-shadow: black 1px 1px 1px;
    color: #ff444a;
    font-family: 'Finger Paint', cursive;
    font-size: 42pt;
    font-weight: bolder;
    position: absolute;
    top: 93%;
    right: 22.9%;
}

.VanLife__container:hover .explore-handler {
    height: 100%;
}

.VanLife__container {
    margin-left: 7%;
    justify-content: center;
    position: relative;
    width: 50%;
}

.VanLife__image {
    border-radius: 30px;
}

.build__video {
    border-radius: 30px;
}

.build-title {
    font-family: 'Finger Paint', cursive;
}

.fa-share {
    color: #ff444a;
}

.explore-handler {
    position: absolute;
    border-radius: 30px;
    bottom: 0;
    background-color: #ff444a;
    overflow: hidden;
    width: 87%;
    height: 0;
    transition: .5s ease;
}

.explore-btn {
    background: none;
    border: none;
    color: rgba(245, 245, 245, 0.671);
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.explore-btn:hover {
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 1640px) and (max-width: 2000px) {
    .VanLife__container {
        transform: scale(0.9);
        margin-left: 0;
        justify-content: center;
        position: relative;
        width: 59.7%;
    }

    .explore-handler {
        position: absolute;
        border-radius: 30px;
        bottom: 0;
        background-color: #ff444a;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .banner__info {
        display: flex;
        justify-content: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 22pt;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .site-name {
        text-shadow: black 1px 1px 1px;
        color: #ff444a;
        font-family: 'Finger Paint', cursive;
        font-size: 42pt;
        font-weight: bolder;
        position: absolute;
        bottom: 0;
        right: 18.9%;
    }

    .build__video {
        transform: scale(0.9);
        border-radius: 30px;
    }
}


@media screen and (min-width: 100px) and (max-width: 1650px) {
    .VanLife__container {
        transform: scale(0.85);
        margin-left: 0;
        justify-content: center;
        position: relative;
        width: 68%;
        min-width: 1025px;
    }

    .explore-handler {
        position: absolute;
        border-radius: 30px;
        bottom: 0;
        background-color: #ff444a;
        overflow: hidden;
        width: 101.5%;
        min-width: 1025px;
        height: 0;
        transition: .5s ease;
    }

    .banner__info {
        display: flex;
        justify-content: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
        font-weight: bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20pt;
        position: absolute;
        top: 75%;
        /* left: 50%; */
        transform: translate(-50%, -50%);
    }

    .the-image {
        transform: scale(0.85);
        min-width: 1025px;
    }

    .site-name {
        text-shadow: black 1px 1px 1px;
        color: #ff444a;
        font-family: 'Finger Paint', cursive;
        font-size: 42pt;
        font-weight: bolder;
        position: absolute;
        top: 115%;
        bottom: 0;
        right: 10.9%;
    }

    .build__video {
        transform: scale(0.8);
        border-radius: 30px;
    }

    .build-title {
        font-family: 'Finger Paint', cursive;
        margin-left: 5%;
    }
}
