.splash-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
    height: 90%;
}

.the-image {
    border-radius: 30px;
}

.banner__info {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.685);
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-name {
    text-shadow: black 1px 1px 1px;
    color: #ff444a;
    font-family: cursive;
    font-size: 42pt;
    font-weight: bolder;
    position: absolute;
    bottom: 175px;
    right: 21.9%;
}
